<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Hello World</h1>
    <h2><%= text %></h2>
    <a href="/about">About Page</a>
    <img src="img/cat.jpg" alt="Cat">
</body>
</html>